@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

body {
  margin: 0;
  background:whitesmoke;
}

h1 {
  text-align: center;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 3rem;
  border-bottom: 2px solid #fa8072;
  border-right: 2px solid #fa8072;
  width: 22rem;
  text-align: center;
  box-shadow: 4px 4px 5px #888888;
}